<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit Your Post</h2>
    <p><b>Post id:</b> <%=post.id%></p>
    <p> <b>Post Username:</b>  @<%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea id="" cols="35" rows="10" name="content"><%=post.content%></textarea>
        <br><br>
        <button>Submit</button>

    </form>
</body>
</html>