<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username">
        <br><br>
        <textarea placeholder="write your post here..." name="content"></textarea>
        <br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>